.closer-shop {
  width: 600px;
  margin-bottom: 2px;
  margin-left: 22%;
  z-index: -1;
}

.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  margin-top: -5rem;
  position: absolute;
  z-index: 2;
}

.preview {
  display: flex;
  justify-content: space-between;
}
