.collections-overview {
  display: flex;
  flex-direction: column;
}


/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {
  .collections-overview {
    margin-top: 12rem;
  }

}

@media (min-width: 569px) {
  .collections-overview {
    margin-top: 1rem;
  }
}

@media (min-width: 1095px) {
}