.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    position: relative;
    font-family:Prosto,sans-serif ;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

  }
}

/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {
  .collection-page {
    .items {
      & .collection-item {
        margin-bottom: -55px;
      }
    }
  }

  .perso31{
    position: absolute;
    z-index: -1;
    width: 76%;
    top: 164px;
  }
}

@media (min-width: 569px) {
  .collection-page {
    .items {
      & .collection-item {
        margin-bottom: 41px;
      }
    }
  }
  .perso31 {
    width: 65%;
    top: 150px;
  }
}

@media (min-width: 1095px) {
  .perso31 {
    width: 49%;
    top: 200px;
  }
}



