.cart-dropdown {
  position: absolute;
  width: 295px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: #b4bdbbf2;
  z-index: 5;

  .empty-message {
    margin: 50px auto;
    font-size: 18px;
  }

  .cart-items {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  button {
    margin-top: auto;
  }
}

@media (min-width: 300px) {
  .cart-dropdown {
    top: 71px;
    right: 2%;
  }
}

@media (min-width: 569px) {
  .cart-dropdown {
    top: 63px;
  }
}

@media (min-width: 1095px) {
}
