.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  margin-top:-7px;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 31px;
  }

  .item-count {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    font-family: Thasadith, sans serif;
    bottom: 10px;
    color:#14d8a2;
  }
}
