.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  margin-top: -7px;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 38px;
  }

  /*
  .cart-icon-background {
    background-color: #6cb73d;
    width: 28px;
    height: 25px;
    position: absolute;
    top: 14.5px;
    left: 9px;
    z-index:-1;
  }
  */

  .item-count {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    font-family: "Prosto One", cursive;
    bottom: 5px;
    padding: 4px 8px 3px 9px;
    z-index: -1;
    color: #db73f5;
    margin: 0 auto;
    overflow: hidden;
  }
}
