.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color:  #802323ed;*/
/*  background-color: #c3bfca;*/
  padding: 25px 21px 10px;

}


/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {
  .directory-menu {
    margin-top: 5rem;
  }
}

@media (min-width: 569px) {
  .directory-menu {
    margin-top: -1rem;
  }
}

@media (min-width: 1200px) {
  .directory-menu {
    margin-top: -1rem;
  }
}