.checkout-page{
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  background-color: #b5bed4ab;
  padding: 20px;

  .checkout-header{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px;
    color: #743e86;



    .header-block{
      text-transform: capitalize;
      width: 23%;

      &:last-child{
        width: 8%;
      }
    }
  }

  .total{
     margin-top: 30px;
     margin-left: auto;
     font-size: 36px;
   }
}


/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {

  .checkout-page{
    width: 91%;
    .hat{
      width: 344px;
      left: 3%;
      z-index: -1;
      position: absolute;
      top: 91px;
    }
  }

}

@media (min-width: 569px) {
  .checkout-page{
    width: 55%;
    .hat{
      width:480px;

    }
  }
}

@media (min-width: 1095px) {

}

