.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 3;
  box-shadow: 2px 2px 4px 3px rgba(145, 145, 145, 0.44);

  a{
    transition: 0.5s ease-out;
  }

  a:hover{
    color: #90e090;
  }
}

/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {
  .header {
    height: 88px;
    .options {
      width: 239px;
      height: 67%;
      display: flex;
      font-size: 13px;
      align-items: center;

      .option {
        padding: 10px 5px;
        cursor: pointer;
      }
    }

    .logo-container {
      height: 100%;
      width: 70px;

      img {
        width: 102px;
        margin-top: 10px;
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 569px) {
  .header {
    height: 96px;
    .options {
      height: 95%;
      width: 340px;
      font-size: 16px;
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }

    .logo-container {
      img {
        width: 92px;
        margin-top: 10px;
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 1095px) {
  .header {
    height: 128px;
    .options {
      width: 700px;
    }
  }
}
