.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position:fixed;
  top: 0;
  background-color: #f8fff0;
  z-index:3;

  .logo-container {
    height: 100%;
    width: 70px;

    img{
      width: 140px;
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  .options {
    width: 260px;
    height: 100%;
    display: flex;

    align-items: center;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}


/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {

  .header{
    .options{
      width: 318px;

    }
  }




}

@media (min-width: 569px) {




}

@media (min-width: 1095px) {





}

