body {
  /*font-family: "Thasadith", sans-serif;*/
  font-family: "Trykker", serif;
  overflow-x:hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
@media (min-width: 200px) {
  body {
   padding:0;
  }
}

@media (min-width: 686px) {
  body {
    padding: 20px 60px;
  }
}*/
