body {
  /*font-family: "Thasadith", sans-serif;*/
  font-family: "Trykker", serif;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/*
@media (min-width: 200px) {
  body {
   padding:0;
  }
}

@media (min-width: 686px) {
  body {
    padding: 20px 60px;
  }
}*/
