.sign-in-and-sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
  margin: 0 auto;
}

/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {
  #adidas3 {
    position: absolute;
    top: 30rem;
    z-index: -1;
    right: -15%;
    width: 1000px;
  }

  #adidas4 {
    position: absolute;
    top: 30rem;
    z-index: -1;
    right: -90%;
    width: 2000px;
  }
}

@media (min-width: 569px) {
  #adidas3 {
    right: 15%;
    width: 1100px;
  }

  #adidas4 {

    right: 2%;
    width: 2000px;
    top: 36rem;
  }
}

@media (min-width: 1095px) {
  #adidas3 {
    right: 45%;
    width: 1200px;
  }

  #adidas4 {
    right: 0%;
    width: 2600px;
    top: 35rem;
  }
}
