#navbar {
  width: 100%;
  /*background-color: #cbc9cc;*/
  background-color: #fafff1;
  padding: 20px 0 5px;
  position: fixed;
  top: 7rem;

  a {
    text-transform: uppercase;
    /* color: #a0746b;*/
    color: #0f1d37;
  }

  li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
  }

  #homepage-navbar {
    background-color: #c5c2c99e;
    width: 436px;
    padding: 20px 10px;
  }
}

header {
  height: 300px;
}

img {
  z-index: -1;
  top: -22rem;
}

.homepage {
  background-color: #f8fff0;
}

/* --------------------------
      Media queries
----------------------------- */

@media (min-width: 300px) {
  #banner {
    display: none;
  }

  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }

  #homepage-video {
    position: fixed;
    width: 20%;
    background-color: #fbfdf2;
    margin-top: -210px;
    z-index: -1;
    right: 0;
  }

  #adidas3 {
    display: none;
  }

  #veste {
    position: absolute;
    width: 85px;
    top: 89px;
    right: -2%;
  }

  #closer3 {
    width: 254px;
    position: absolute;
    top: 81px;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 569px) {
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    margin-top: -1.8em;
    width: 100%;
  }

  #homepage-video {
    position: fixed;
    width: 100%;
    background-color: #fbfdf2;
    margin-top: -107px;
  }

  #veste {
    width: 123px;
    right: -3%;
    top: 97px;
  }

  #closer3 {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 500px;
    margin-top: 70px;
    margin-left: 0;
  }
}

@media (min-width: 1095px) {
  #banner {
    display: block;
    position: fixed;
    filter: grayscale(0.6);
  }

  #homepage-video {
    top: 60px;
    position: fixed;
    width: 100%;
    background-color: #fbfdf287;
  }

  #adidas3 {
    display: block;
    position: absolute;
    right: 17.3%;
    width: 588px;
    top: 35px;
  }

  #veste {
    width: 490px;
    top: 69px;
    right: -4%;
  }

  /* #closer {
    width: 1067px;
    left: 20%;
    z-index: -1;
    margin-top: 171px;
  }*/
  #closer3 {
    margin-left: 0;
    width: 1016px;
    z-index: 1;
    margin-top: 63px;
  }
}
